* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body{
    background: linear-gradient(to right, #434343, #000000);
    color: #F2F2F2;
}

h1, h2{
    text-align: center;
}

@media screen and (min-width: 769px) {
    .container {
        max-width: 50%;
    }
}

.col {
    padding: 6px;
}

.progress-bar{
    background-color: rgb(62, 83, 42);
}

.progress-bar-last-seconds{
    background-color: #744861;
    color: #F2F2F2;
}
