* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background: linear-gradient(to right, #434343, #000000);
    color: #F2F2F2;
}

h1, h2, footer {
    text-align: center;
}

@media screen and (min-width: 426px) and (max-width: 1023px) {
    .container {
        max-width: 75%;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        max-width: 40%;
    }
}

.memory-card {
    cursor: pointer;
}

.memory-card:hover {
    animation: zoom-card 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes zoom-card {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}